.sessao {
    height: 100vh;
    padding: 0 1rem;
    margin-top: -83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 730px) {
    .sessao {
        margin-top: -155px;
    }
}

.sessao h1 {
    text-transform: uppercase;
}

.sessao form {
    max-width: 400px;
    width: 100%;
    padding: 1rem;
    border-radius: 2px;
    margin-top: 1rem;
    background-color: #FFF;
    box-shadow: var(--sombra);
}

.sessao input[type="text"], .sessao input[type="password"] {
    padding-right: 2rem;
}

.sessao .campo {
    margin-bottom: 1rem;
    position: relative;
}

.sessao i {
    font-size: 1.25rem;
    position: absolute;
    top: 2.4rem;
    right: 0.5rem;
    pointer-events: none;
}

.erro {
    margin-top: 0.2rem;
    color: #F44;
    display: block;
}

.sessao form > .erro {
    margin-top: 1rem;
    text-align: center;
    display: block;
}

.sessao h3 {
    margin-bottom: 0.2rem;
    font-weight: 400;
}

.sessao button {
    width: 200px;
    padding: 0.5rem;
    border: none;
    margin: 0 auto;
    font-size: 1rem;
    border-radius: 6px;
    color: #FFF;
    background-color: var(--amarelo);
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.sessao button[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
}

.sessao button:hover, .sessao button:focus {
    box-shadow: vaR(--sombra);
    transform: scale(1.1);
}

.Link {
    margin-top: 1rem;
    text-decoration: underline;
    transition: color 0.3s;
}

.Link:hover, .Link:focus {
    color: var(--amarelo);
}