.conteudo {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.cabecalho {
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(37, 35, 35, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h1 {
    font-family: var(--fonte-raleway);
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--amarelo);
}

.btnAdicionar {
    width: 220px;
    padding: 12px;
    border: none;
    border-radius: 2px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #FFF;
    background-color: var(--cor-fundo);
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.btnAdicionar:hover, .btnAdicionar:focus {
    transform: scale(1.1);
}

.listaCards {
    justify-content: space-between;
    align-items: initial;
}

.listaCards li {
    max-width: 460px;
    margin-top: 1rem;
}

.modalAdicionar {
    max-width: 460px;
}

.campo {
    margin-bottom: 1rem;
}

@media (max-width: 990px) {
    .listaCards li {
        max-width: 340px;
    }
}

@media (max-width: 730px) {
    .cabecalho h1 {
        width: 100%;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        text-align: center;
    }

    .btnAdicionar {
        margin: 0 auto;
    }
}