/* Font Spectral Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@700&display=swap');

/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

html {
    --fonte-lato: 'Lato', sans-serif;
    --fonte-raleway: 'Raleway', sans-serif;
    --sombra: 4px 4px 12px rgba(37, 35, 35, 0.4);
    --cor-texto: #6D6D6D;
    --cor-fundo: rgba(37, 35, 35, 0.94);
    --amarelo: #D79D39;
    --cinza: #BCBCBC;
    --cor-btn-editar: #629ED6;
    --cor-btn-remover: #EF7972;
}

body {
    font-family: var(--fonte-lato);
    color: var(--cor-texto);
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Estios gerais */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 2px;
    border: 2px solid var(--cinza);
    margin-top: 0.5rem;
    font-size: 1rem;
    background-color: #F4F4F4;
    outline: none;
    transition: 0.3s ease;
}

input[type="text"]:hover, input[type="text"]:focus,
input[type="email"]:hover, input[type="email"]:focus,
input[type="password"]:hover, input[type="password"]:focus,
input[type="number"]:hover, input[type="number"]:focus,
textarea:hover, textarea:focus {
    border-color: var(--amarelo);
    background-color: #FFF;
    box-shadow: 2px 2px 4px rgba(37, 35, 35, 0.2);
}