/* Font Spectral Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@700&display=swap');

/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

html {
    --fonte-lato: 'Lato', sans-serif;
    --fonte-raleway: 'Raleway', sans-serif;
    --sombra: 4px 4px 12px rgba(37, 35, 35, 0.4);
    --cor-texto: #6D6D6D;
    --cor-fundo: rgba(37, 35, 35, 0.94);
    --amarelo: #D79D39;
    --cinza: #BCBCBC;
    --cor-btn-editar: #629ED6;
    --cor-btn-remover: #EF7972;
}

body {
    padding-top: 83px;
    font-family: var(--fonte-lato);
    color: var(--cor-texto);
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

main {
    min-height: calc(100vh - 83px);
}

@media (max-width: 730px) {
    body {
        padding-top: 155px;
    }

    main {
        min-height: calc(100vh - 155px);
    }
}

/* Classes padrões */
.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media (max-width: 990px) {
    .container {
        max-width: 700px;
    }
}

@media (max-width: 730px) {
    .container {
        max-width: 300px;
    }
}

/* Animações */
@keyframes animarEntrada {
    to {
        opacity: 1;
        transform: initial;
    }
}

.animarEntrada {
    opacity: 0;
    transform: translateY(-3rem);
    animation: animarEntrada 0.4s forwards;
}